<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity!.Name!
        <a href="LogOut"><span class="oi oi-account-logout"></span> Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="Login"><span class="oi oi-account-login"></span> Log in</a>
    </NotAuthorized>
</AuthorizeView>
